<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>글 쓰기 페이지</h1>
    <form>
        제목 : <input type="text" class="btitle"><br>
        내용 : <textarea type="text" class="bcontent"></textarea>
        <button type="submit" onclick="setboard()">등록</button>
    </form>
    <a href="/board/boardlist">목록보기</a>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/board/write.js"></script>
</body>
</html>